<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.prototypofinance">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PrototypoFinance">
        <activity
            android:name=".activity_forms.Activity_Form_Category"
            android:label="@string/title_activity__category"
            android:theme="@style/Theme.PrototypoFinance.NoActionBar"></activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity_forms.Activity_Form_Account" />
        <activity android:name=".activity_forms.Activity_Form_Expense" />
        <activity android:name=".activity_forms.Activity_Form_Income" />
        <activity android:name=".activity_forms.Activity_Form_Transfer" />
    </application>

</manifest>